html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: #333;
  box-sizing: border-box;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  -webkit-tap-highlight-color: transparent;

  &.hidden {
    overflow: hidden;
  }
}

* {
  box-sizing: inherit;
}

#app {
  height: 100%;
}

.page-view{
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding: 10px;
}

@import "element/element-reset.scss";