// 页面主体背景色
$page-main-bg: #F7F7F7;

/* --- 页面顶部 --- */
// 背景色
$page-header-bg: #FFFFFF;
// 文字颜色
$page-header-color: #1E2022;

/* --- 侧边栏导航 --- */
$page-sidebar-bg: #1E2022;
// 菜单文字颜色
$page-sidebar-menu-color: #F5F5F5;
//color: #52616B;
